apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: postgresql
  repo: https://charts.bitnami.com/bitnami
  version: 12.10.0
  releaseName: vaultwarden-postgresql
  valuesFile: values.yaml
