auth:
  database: vaultwarden
  username: vaultwarden
  existingSecret: vaultwarden-postgresql

primary:
  persistence:
    existingClaim: vaultwarden
  resources:
    requests:
      memory: 500Mi
  livenessProbe:
    periodSeconds: 30
    failureThreshold: 15

image:
  debug: true

volumePermissions:
  enabled: true