apiVersion: v1
kind: Service
metadata:
  name: synology-service
  namespace: default
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 5110
    - name: https
      port: 443
      targetPort: 5111