serviceWeb:
  type: LoadBalancer
  loadBalancerIP: "192.168.18.151"

serviceDns:
  mixedService: true
  type: LoadBalancer
  loadBalancerIP: "192.168.18.152"

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - pihole.kopi.quest

dnsmasq:
  customDnsEntries:
    - address=/router.local/192.168.18.1
    - address=/kopi.quest/192.168.18.150
    - address=/nas.local/192.168.18.54

whitelist:
  - googleadservices.com
  - www.googleadservices.com
  - ad.doubleclick.net

adlists:
  - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
